/*Variables*/
:root {
  --basic-white:#FFFFFF;
  --basic-red:#EE3643;
  --basic-dark-blue:#32425C;
  --basic-gray:#A9A9A9;
  --basic-black:#000000;
  --basic-darkest-blue:#293449;
  --basic-greylight:#C5C5C5;
  --basic-very-dark-blue: #1D2739;

  --header-make-an-order-green: #63A63E;

  --promo-block-materials-yellow: #FFBF47;
  --promo-block-tools-blue: #3BBCE3;
  --promo-block-tech-pink: #DC91D8;
  --promo-block-sales-green: #8ED78F;
  --promo-block-delivery-yellow: #FFC047;

  --footer-navigation-darker-white:#F1F5F7;
  --footer-yellow:#FFD180;
  --footer-lighter-yellow: #FFDA96;
  --footer-address-lighter-white:#F3F7F9;
}


/*Global styles*/
body {
  min-width: 960px;
  padding: 0px;
  font-family: "Cuprum",Arial,sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-columns: min-content 1ft min-content;
  align-content: start;
}

.page {
  height: 100%;
}
.page a {
  text-decoration: none;
}

.page img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}


/*Header*/
.main-header-bar {
  background-color: var(--basic-darkest-blue);
  width: 100%;
}
/*220px фиксировано для логотипа*/
.main-header-shopping {
  display: grid;
  grid-template-columns: 220px 1fr;
  width: 940px;
  margin: 0 auto;
  padding:0 10px;
}
.main-header-info-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 42px;
  margin-bottom:40px;
}
.main-header-info-block-annotation {
  width: 197px;
  color: var(--basic-red);
}
.main-header-info-block-contacts {
  width: 270px;
}
.main-header-info-block-buttons {
  width: 281px;
}

.main-header-phone {
  color: var(--basic-red);
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
}

.main-header-address {
  color: var(--basic-dark-blue);
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  justify-self: center;
}
.main-navigation-list {
  background-color: var(--basic-dark-blue);
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
}
.main-navigation-list a,
.main-header-shopping a {
  color: var(--basic-white);
}
.main-navigation-item:hover {
  background-color: var(--basic-darkest-blue);
}
.main-navigation-item:active {
  background-color: var(--basic-very-dark-blue);
  opacity: 0.5;
}
.login-link,
.registration-link {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}
.login-link:hover,
.registration-link:hover {
  color: var(--basic-red);
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}
.login-link:active,
.registration-link:active {
  color: var(--basic-greylight);
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}
.main-header-shopping {
  font-size: 18px;
  line-height: 24px;
}
.main-header-info-block p{
  font-size: 16px;
  line-height: 23px;
}
.main-navigation-list a {
  font-size: 18px;
  line-height: 24px;
}

/*Main*/
.button {
  background-color: var(--basic-red);
}
/*Main-promo*/
.main-promo-block {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  'material tools tech'
  'perf perf sales'
  'perf perf delivery';
  margin: 0px;
  padding: 0px;
  margin-top: 60px;
  gap: 20px 20px;
  margin-bottom: 60px;
}
.promo-block-item h3,
.promo-block-item a,
.promo-block-carousel h3,
.promo-block-carousel a ,
.promo-block-carousel p {
  color: var(--basic-white);
}
.promo-block-carousel {
  background-image: url("https://via.placeholder.com/620x266");
  padding-left: 24px;
  grid-area: perf;
}
.promo-block-materials{
  background-color: var(--promo-block-materials-yellow);
  padding-left: 20px;
  padding-bottom: 20px;
  grid-area: material;
}
.promo-block-tools{
  background-color: var(--promo-block-tools-blue);
  padding-left: 20px;
  padding-bottom: 20px;
  grid-area: tools;
}
.promo-block-tech{
  background-color: var(--promo-block-tech-pink);
  padding-left: 20px;
  padding-bottom: 20px;
  grid-area: tech;
}
.promo-block-sales{
  background-color: var(--promo-block-sales-green);
  padding-left: 20px;
  padding-bottom: 20px;
  grid-area: sales;
}
.promo-block-delivery{
  background-color: var(--promo-block-delivery-yellow);
  padding-left: 20px;
  padding-bottom: 20px;
  grid-area: delivery;
}
.main-promo-block h3{
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}
.main-promo-block a{
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
}
.promo-block-carousel h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  margin-bottom: 5px;
}
.promo-block-carousel p {
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 97px;
}
.promo-block-carousel a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
}

/*Popular goods*/
/*Как изучу флексы поменяю все гриды на флексы, где вы указали.*/
.main-popular-goods-container {
  display: grid;
  grid-template-columns: 1fr min-content;
  column-gap: 20px;
  margin-bottom: 20px;
}
.popular-goods-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  margin: 0;
  padding: 0;
  margin-bottom: 70px;
}

.popular-goods-item p {
  background-color: var(--basic-red);
}
.popular-goods-item del {
  color: var(--basic-gray);
}
.popular-goods-item a {
  color: var(--basic-black);
}
.main-popular-goods h2 {
  color: var(--basic-dark-blue);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.main-popular-goods .button-popular{
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  text-align: center;
  height: 38px;
  width: 192px;
}
.popular-goods-list h3{
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  font-family: "PT Sans","Arial", sans-serif;
  text-align: center;
}
.popular-goods-list del,
.popular-goods-list p{
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "PT Sans",Arial, sans-serif;
}
.popular-goods-list p {
  color: var(--basic-white);
}
.popular-goods-item .popular-goods-item-old-price {
  text-decoration: line-through;
  background-color: var(--basic-white);
  color: var(--basic-gray);
}

/*Popular manufacturer*/
.main-popular-manufacturer-container {
  display: grid;
  grid-template-columns: 1fr min-content;
  column-gap: 20px;
  margin-bottom: 20px;
}
.popular-manufacturer-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  margin: 0;
  padding: 0;
  margin-bottom: 70px;
}
.popular-manufacturer-item{
  width: 220px;
  height: 145px;
}
.main-popular-manufacturer h2 {
  color: var(--basic-dark-blue);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.main-popular-manufacturer .button-popular{
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  text-align: center;
  height: 38px;
  width: 192px;
  justify-self: end;
}

/*Services*/
.main-services {
  background-color:var(--footer-navigation-darker-white);
}
.main-services-container {
  margin-bottom: 21px;
}
.services-list {
  list-style: none;
  margin:0;
  padding:0;
  margin-right: 80px;
}
.service-list-description-wrapper {
  display:grid;
  grid-template-columns: min-content 1fr;
}
.service-description {
  margin-bottom: 70px;
}
.services-list a{
  color: var(--basic-white);
  background-color: var(--basic-dark-blue);
}
.services-list a:hover{
  color: var(--basic-white);
  background-color: var(--basic-darkest-blue);
}
.services-list .service-delivery-link {
  color: var(--basic-dark-blue);
  background: none;
}
.main-services h2 {
  font-size: 30px;
  line-height: 30px;
}
.main-services p {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans",Arial, sans-serif;
}
.services-list a {
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
}
.service-description h3 {
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-dark-blue);
  text-transform: uppercase;
}
.service-description p {
  font-family: "PT Sans", "Arial", sans-serif;
}

/*Main about us*/
.about-us-and-contacts-container {
  display: grid;
  grid-template-columns: 1fr min-content;
  column-gap: 20px;
  margin-bottom: 70px;
}
.main-about-us h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.main-about-us>p {
  font-family: "PT Sans",Arial, sans-serif;
}
.delivery-companies-list p {
  font-size: 18px;
  line-height: 24px;
}
.button-about-us {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  text-align: center;
}
.contacts {
  width: 300px;
}

.contacts h2{
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.contacts p {
  font-family: "PT Sans","Arial", sans-serif;
}
.contacts a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
}
.contacts .button {
  color: var(--basic-white);
}
/*Footer*/
.page-footer {
  background-color: var(--basic-dark-blue);
}
.main-footer {
  background-color: var(--basic-darkest-blue);
}
/*Закомментировал эту секцию до момента изучения флексов*/
/*.main-footer-first-wrapper{
}
.main-footer-second-wrapper{
}*/
.main-footer-logo {
  background-color: var(--basic-red);
  margin-right: 173px;
}
.footer-navigation-list {
  width: 549px;
  padding: 0px;
  margin: 0px;
}
.footer-goods-categories-list {
  width: 549px;
}
.footer-navigation-list,
.footer-goods-categories-list,
.social-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.main-footer-contacts,
.contacts-phone {
  color: var(--footer-address-lighter-white);
  font-size: 18px;
  line-height: 24px;
}
.main-footer-navigation a {
  color: var(--footer-navigation-darker-white);
  font-size: 18px;
  line-height: 24px;
}
.footer-goods-categories-list a,
.footer-feedback-mail,
.footer-devs-site{
  color: var(--footer-yellow);
}
.footer-goods-categories-list .footer-tech-link{
  color: var(--footer-lighter-yellow);
}
.main-footer-second-wrapper {
  color: var(--basic-white);
}
.main-footer-copyright {
  font-size: 16px;
  line-height: 18px;
}
.social-list {
  padding: 0px;
}
.main-footer-feedback {
  font-size: 16px;
  line-height: 18px;
}
.main-footer-first-wrapper a:hover {
  text-decoration: underline;
}
.main-footer-first-wrapper a:active {
  opacity: 0.5;
  text-decoration: none;
}
.footer-feedback-mail:hover,
.footer-devs-site:hover {
  text-decoration: underline;
}
.footer-feedback-mail:active,
.footer-devs-site:active {
  text-decoration: none;
  color: var(--basic-red);
}


/*Inner page styles*/

/*Inner page header*/
.main-header-inner-info-block {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: min-content,1fr;
  width: 940px;
  margin: 0 auto;
  margin-top: 40px;
}
.main-header-user-name {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-black);
}
.main-header-user-block {
  grid-column: 9/13;
}
.main-header-user-orders,
.main-header-user-profile {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-dark-blue);
}
.main-header-user-orders:hover,
.main-header-user-profile:hover {
  color: var(--basic-red);
}
.main-header-user-orders:active,
.main-header-user-profile:active,
.main-header-user-name:active {
  color: var(--basic-greylight);
}

/*Inner page categories*/
.main-catalog-categories-list {
  grid-column: 1/6;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 0px;
  margin-left:180px;
  column-gap: 20px;
  margin-bottom: 20px;
}
.main-catalog-categories-item:first-child {
  grid-column: 1/2;
}
.main-catalog-categories-item:nth-child(2) {
  grid-column: 2/3;
}
.main-catalog-categories-item:nth-child(3) {
  grid-column: 3/4;
}
.main-catalog-categories-item:last-child {
  grid-column: 4/6;
}
.main-inner-catalog-header-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 940px;
  margin: 0 auto;
  margin-bottom:50px;
}
.main-catalog-categories a {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans","Arial", sans-serif;
  text-transform: uppercase;
  color: var(--basic-black);
}
.main-catalog-categories h1 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-dark-blue);
}


/*Inner page filters*/
/*Inner page grid main content*/
.main-inner-sorting-filters-goods-pagination-container {
  width:940px;
  margin:0 auto;
  display: grid;
  grid-template-areas:
  'filters sorting'
  'filters goods'
  '. pagination';
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 38px 1fr 38px;
  column-gap: 20px;
  margin-bottom:59px;
}
.main-filters {
  grid-area: filters;
}
.main-sorting {
  grid-area:sorting;
}
.sorting-settings-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 20px;
}

.inner-main-goods {
  grid-area:goods;
}
.inner-main-goods-list {
  padding-top: 28px;
  display: grid;
  grid-template-columns: repeat(3,3fr);
  column-gap: 20px;
  grid-template-areas:
  '1st 2st 3st'
  '4st 5st 6st'
  '6st 8st 9st';
}
.inner-main-goods-item {
  width:220px;
  height:318px;
  display:grid;
  grid-template-rows:repeat(4,1fr)
}
.inner-main-goods-item:first-child{
  grid-area:1st;
}
.inner-main-goods-item:nth-child(2){
  grid-area:2st;
}
.inner-main-goods-item:nth-child(3){
  grid-area:3st;
}
.inner-main-goods-item:nth-child(4){
  grid-area:4st;
}
.inner-main-goods-item:nth-child(5){
  grid-area:5st;
}
.inner-main-goods-item:nth-child(6){
  grid-area:6st;
}
.inner-main-goods-item:nth-child(7){
  grid-area:7st;
}
.inner-main-goods-item:nth-child(8){
  grid-area:8st;
}
.inner-main-goods-item:last-child{
  grid-area:9st;
}
.inner-pagination {
  grid-area:pagination;
  display:grid;
  grid-template-columns: repeat(4,1fr);
}
.inner-pagination-list {
  display: grid;
  grid-template-columns: repeat(4,1fr);
}



.filter-by-manufacturer-list {
  list-style: none;
  padding: 0px;
}
.filter-by-power-supply-item {
  font-size: 15px;
  line-height: 19px;
  font-family: "PT Sans","Arial", sans-serif;
  text-transform: uppercase;
}
.main-filters h3 {
  font-size: 17px;
  line-height: 30px;
  font-family: "PT Sans","Arial", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--basic-black);
}
.filter-by-manufacturer-item{
  font-size: 15px;
  line-height: 19px;
  font-family: "PT Sans","Arial", sans-serif;
  text-transform: uppercase;
  color: var(--basic-black);
}
.main-filters .main-filters-header {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans","Arial", sans-serif;
  text-transform: uppercase;
}
.main-filters a {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans","Arial", sans-serif;
  text-align: center;
  color: var(--basic-black);
  text-transform: uppercase;
}

/*Inner page sorting*/
.sorting-settings-list,
.filter-by-power-supply-list {
  list-style: none;
  padding: 0px;
}
.main-sorting {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans","Arial", sans-serif;
  text-transform: uppercase;
}
.main-sorting h3 {
  color: var(--basic-black);
}
.sorting-settings-item a{
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--basic-red);
  color: var(--basic-black);
  opacity: 0.3;
}
.sorting-settings-item .sort-by-ascending,
.sorting-settings-item .sort-by-descending{
  text-decoration: none;
}
.sort-by-price:hover,
.sort-by-type:hover,
.sort-by-functional:hover {
  opacity: 1.0;
  text-decoration: underline;
  text-decoration-color: var(--basic-red);
}
.sort-by-ascending:hover,
.sort-by-descending:hover{
  opacity: 1.0;
}
.sort-by-price:active,
.sort-by-type:active,
.sort-by-functional:active {
  opacity: 1.0;
  text-decoration: none;
  color: var(--basic-red);
}
.sort-by-ascending:active,
.sort-by-descending:active{
  opacity: 1.0;
  color: var(--basic-red);
}



/*Inner page goods list*/
.inner-main-goods {
  font-family: "PT Sans","Arial", sans-serif;
}
.inner-main-goods-list {
  list-style: none;
  padding: 0px;
}
.inner-main-goods-item p {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
}
.inner-main-goods .goods-item-old-price {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: line-through;
  text-transform: uppercase;
  color: var(--basic-gray);
  background-color: var(--basic-white);
}
.inner-main-goods-item h3 {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
}
.inner-main-goods-item a {
  color: var(--basic-black);
}
.inner-goods-buy-button, .inner-goods-bookmark-button {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Cuprum","Arial", sans-serif;
  color: var(--basic-white);
}
.inner-main-goods-item .inner-goods-bookmark-button {
  color: var(--basic-dark-blue);
}


/*Inner page pagination*/
.inner-pagination {
  font-family: "PT Sans","Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}
.inner-pagination-list {
  list-style: none;
  padding-inline-start: 0px;
}
.inner-pagination a {
  color: var(--basic-black);
}
.inner-pagination-item:first-child {
  background-color: var(--basic-red);
}
.inner-pagination .selected-page-number {
  color: var(--basic-white);
}

/*Inner page about perforators*/
.inner-about-perforators {
  width:940px;
  margin:0 auto;
  display: grid;
  margin-bottom:68px;
}
.inner-about-perforators h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.inner-about-perforators p {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans","Arial", sans-serif;
}





/*Не стилизовал список с информацией о соцсетях, ибо потом вообще уберем названия,оставим иконки*/
